In [16]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('healthcare_dataset.csv')
df.head().T

,0,1,2,3,4
Name,Tiffany Ramirez,Ruben Burns,Chad Byrd,Antonio Frederick,Mrs. Brandy Flowers
Age,81,35,61,49,51
Gender,Female,Male,Male,Male,Male
Blood Type,O-,O+,B-,B-,O-
Medical Condition,Diabetes,Asthma,Obesity,Asthma,Arthritis
Date of Admission,2022-11-17,2023-06-01,2019-01-09,2020-05-02,2021-07-09
Doctor,Patrick Parker,Diane Jackson,Paul Baker,Brian Chandler,Dustin Griffin
Hospital,Wallace-Hamilton,"Burke, Griffin and Cooper",Walton LLC,Garcia Ltd,"Jones, Brown and Murray"
Insurance Provider,Medicare,UnitedHealthcare,Medicare,Medicare,UnitedHealthcare
Billing Amount,37490.983364,47304.064845,36874.896997,23303.322092,18086.344184
Room Number,146,404,292,480,477
Admission Type,Elective,Emergency,Emergency,Urgent,Urgent
Discharge Date,2022-12-01,2023-06-15,2019-02-08,2020-05-03,2021-08-02
Medication,Aspirin,Lipitor,Lipitor,Penicillin,Paracetamol
Test Results,Inconclusive,Normal,Normal,Abnormal,Normal

In [44]:
df.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Name,10000,9378,Michael Johnson,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,10000.0,NaN,NaN,NaN,51.4522,19.588974,18.0,35.0,52.0,68.0,85.0
Gender,10000,2,Female,5075,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blood Type,10000,8,AB-,1275,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Medical Condition,10000,6,Asthma,1708,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date of Admission,10000,1815,2019-04-12,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Doctor,10000,9416,Michael Johnson,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hospital,10000,8639,Smith PLC,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Insurance Provider,10000,5,Cigna,2040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Billing Amount,10000.0,NaN,NaN,NaN,25516.806778,14067.292709,1000.180837,13506.523967,25258.112566,37733.913727,49995.902283
Room Number,10000.0,NaN,NaN,NaN,300.082,115.806027,101.0,199.0,299.0,400.0,500.0
Admission Type,10000,3,Urgent,3391,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Discharge Date,10000,1834,2021-11-28,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Medication,10000,5,Penicillin,2079,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Test Results,10000,3,Abnormal,3456,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [46]:
df.duplicated().sum()

0

In [47]:
print('Medication Type are:',df['Medication'].unique())
print('Blood Type are:',df['Blood Type'].unique())
print('Medical conditions are:',df['Medical Condition'].unique())
print('Insurance Provider are:',df['Insurance Provider'].unique())
print('Admission Type are:',df['Admission Type'].unique())
print('Test Results are:',df['Test Results'].unique())

Medication Type are: ['Aspirin' 'Lipitor' 'Penicillin' 'Paracetamol' 'Ibuprofen']
Blood Type are: ['O-' 'O+' 'B-' 'AB+' 'A+' 'AB-' 'A-' 'B+']
Medical conditions are: ['Diabetes' 'Asthma' 'Obesity' 'Arthritis' 'Hypertension' 'Cancer']
Insurance Provider are: ['Medicare' 'UnitedHealthcare' 'Aetna' 'Cigna' 'Blue Cross']
Admission Type are: ['Elective' 'Emergency' 'Urgent']
Test Results are: ['Inconclusive' 'Normal' 'Abnormal']

In [48]:
df = df.drop(columns = ['Name', 'Date of Admission', 'Doctor', 'Hospital',	'Discharge Date','Room Number','Insurance Provider'])
df

,Age,Gender,Blood Type,Medical Condition,Billing Amount,Admission Type,Medication,Test Results
0,81,Female,O-,Diabetes,37490.983364,Elective,Aspirin,Inconclusive
1,35,Male,O+,Asthma,47304.064845,Emergency,Lipitor,Normal
2,61,Male,B-,Obesity,36874.896997,Emergency,Lipitor,Normal
3,49,Male,B-,Asthma,23303.322092,Urgent,Penicillin,Abnormal
4,51,Male,O-,Arthritis,18086.344184,Urgent,Paracetamol,Normal
...,...,...,...,...,...,...,...,...
9995,83,Male,A+,Obesity,39606.840083,Elective,Ibuprofen,Abnormal
9996,47,Female,AB+,Arthritis,5995.717488,Emergency,Ibuprofen,Normal
9997,54,Male,B-,Arthritis,49559.202905,Elective,Ibuprofen,Normal
9998,84,Male,A+,Arthritis,25236.344761,Urgent,Penicillin,Normal
9999,20,Male,B-,Arthritis,37223.965865,Emergency,Penicillin,Abnormal

In [49]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Load the data (example)
# df = pd.read_csv("your_dataset.csv")

# Encode the target column
label_encoder = LabelEncoder()
df['Admission Type'] = label_encoder.fit_transform(df['Admission Type'])

# One-hot encoding for categorical features
categorical_columns = ['Gender', 'Blood Type', 'Medical Condition', 
                       'Test Results' , 'Medication']
df = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

In [50]:
from sklearn.preprocessing import StandardScaler

# Select numerical columns
numerical_columns = ['Age', 'Billing Amount']

# Scale the numerical columns
scaler = StandardScaler()
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [51]:
df

,Age,Billing Amount,Admission Type,Gender_Male,Blood Type_A-,Blood Type_AB+,Blood Type_AB-,Blood Type_B+,Blood Type_B-,Blood Type_O+,...,Medical Condition_Cancer,Medical Condition_Diabetes,Medical Condition_Hypertension,Medical Condition_Obesity,Test Results_Inconclusive,Test Results_Normal,Medication_Ibuprofen,Medication_Lipitor,Medication_Paracetamol,Medication_Penicillin
0,1.508465,0.851249,0,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
1,-0.839912,1.548866,1,True,False,False,False,False,False,True,...,False,False,False,False,False,True,False,True,False,False
2,0.487431,0.807452,1,True,False,False,False,False,True,False,...,False,False,False,True,False,True,False,True,False,False
3,-0.125189,-0.157358,2,True,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
4,-0.023086,-0.528235,2,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.610568,1.001667,0,True,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
9996,-0.227292,-1.387763,1,False,False,True,False,False,False,False,...,False,False,False,False,False,True,True,False,False,False
9997,0.130069,1.709184,0,True,False,False,False,False,True,False,...,False,False,False,False,False,True,True,False,False,False
9998,1.661620,-0.019938,2,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
9999,-1.605688,0.832267,1,True,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True

In [52]:
from sklearn.model_selection import train_test_split

# Separate features and target
X = df.drop('Admission Type', axis=1)
y = df['Admission Type']

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [54]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Logistic Regression
lr = LogisticRegression(random_state=42, max_iter=1000)
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_lr))
print(classification_report(y_test, y_pred_lr))

# Random Forest
rf = RandomForestClassifier(random_state=42)
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
print("\nRandom Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))

# XGBoost
xgb = XGBClassifier(random_state=42, use_label_encoder=False, eval_metric='logloss')
xgb.fit(X_train, y_train)
y_pred_xgb = xgb.predict(X_test)
print("\nXGBoost Accuracy:", accuracy_score(y_test, y_pred_xgb))
print(classification_report(y_test, y_pred_xgb))

Logistic Regression Accuracy: 0.334
              precision    recall  f1-score   support

           0       0.34      0.19      0.24       660
           1       0.34      0.42      0.38       670
           2       0.32      0.39      0.35       670

    accuracy                           0.33      2000
   macro avg       0.33      0.33      0.32      2000
weighted avg       0.33      0.33      0.33      2000


Random Forest Accuracy: 0.324
              precision    recall  f1-score   support

           0       0.34      0.31      0.32       660
           1       0.32      0.34      0.33       670
           2       0.31      0.32      0.32       670

    accuracy                           0.32      2000
   macro avg       0.32      0.32      0.32      2000
weighted avg       0.32      0.32      0.32      2000

C:\Users\Lenovo\anaconda3\Lib\site-packages\xgboost\core.py:158: UserWarning: [12:31:28] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0c55ff5f71b100e98-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

XGBoost Accuracy: 0.3395
              precision    recall  f1-score   support

           0       0.34      0.31      0.32       660
           1       0.34      0.37      0.35       670
           2       0.34      0.34      0.34       670

    accuracy                           0.34      2000
   macro avg       0.34      0.34      0.34      2000
weighted avg       0.34      0.34      0.34      2000